<div class="layui-card">
  <div class="layui-card-header layui-bg-green">
    <!-- <a href="javascript:history.go(-1)"><i class="layui-icon layui-icon-left"></i></a> -->
    文章管理
  </div>
  <div class="layui-card-body">
    <table id="demo" lay-filter="test"></table>
  </div>
</div>


<script>
  layui.use('table', function() {
    var table = layui.table;

    //第一个实例
    table.render({
      elem: '#demo',
      // height: 312,
      url: '/admin.php?path=admin&api=article_list' //数据接口
        ,
      page: true //开启分页
        ,
      cols: [
        [ //表头
          {
            type: 'checkbox',
          },
          {
            field: 'aid',
            title: 'aid',
            sort: true,
          }, {
            field: 'title',
            title: '标题',
            width: 600
          }, {
            field: 'update_time',
            title: '更新时间',
            sort: true
          }, {
            field: 'is_hidden',
            title: '隐藏',
          }, {
            field: 'sort_order',
            title: '排序',
            sort: true,

          }
        ]
      ]
    });

  });
</script>