<div class="layui-card">
  <div class="layui-card-header layui-bg-green">
    <!-- <a href="javascript:history.go(-1)"><i class="layui-icon layui-icon-left"></i></a> -->
    文章管理
  </div>
  <div class="layui-card-body">
    <table class="layui-table">
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>aid</th>
          <th>标题</th>
          <th>隐藏</th>
          <th>操作</th>
          <th>排序</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>哈哈哈哈哈</td>
          <td>人生就像是一场修行</td>
        </tr>
        <tr>
          <td>许闲心</td>
          <td>2016-11-28</td>
          <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>