<?php include DIR_VIEW . '/common/head.htm' ?>

<body class="layui-layout-body layui-bg-gray">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"><img src="<?php dd($data['config']['logo']) ?> " alt=""></div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <!-- 暂时还没做侧边收缩 -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect="">
          <a href="javascript:;" lay-filter="flexible" title="侧边伸缩">
            <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
          </a>
        </li>



      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="/index.php"><i class="layui-icon layui-icon-home"></i>首页</a></li>
        <li class="layui-nav-item">

          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            <?php dd($data['user']['pen_name']) ?>
          </a>
          <dl class="layui-nav-child">
            <dd><a href="/admin.php?path=admin&cpn=user_edit&uid=<?php dd($data['user']['uid']) ?>">用户设置</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="/admin.php?path=admin&api=logout">溜了溜了</a></li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="menu">
          <?php foreach ($menus as $key => $menu) : ?>
            <li class="layui-nav-item layui-nav-itemed <?php dd($key == $menu_top ? 'layui-this' : '') ?>">
              <a class="" href="/admin.php?path=admin&cpn=<?php dd($key) ?>">
                <i class="layui-icon layui-icon-<?php echo $menu['icon'] ?>"></i>
                <?php dd($menu['name']) ?>
              </a>
            </li>
          <?php endforeach ?>
        </ul>
      </div>
    </div>

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <div class="layui-card">
          <div class="layui-card-header layui-bg-green">
            <a href="javascript:history.go(-1)"><i class="layui-icon layui-icon-left" style="color:white"></i></a>
            <?php dd(MENU_['menu_name']) ?>
          </div>
          <?php include_cpn($cpn_file) ?>
        </div>
      </div>

      <div class="layui-footer">
        <!-- 底部固定区域 -->
        <?php echo $data['config']['title'] ?>
      </div>
    </div>


</body>
<script>
  //JavaScript代码区域
  layui.use('element', function() {
    var element = layui.element;

    element.on('nav(menu)', function(elem) {
      console.log(elem); //得到当前点击的DOM对象
    });
  });
  // 伸缩侧边栏
  var flexible = document.querySelector('.layadmin-flexible');
  var icon = document.querySelector('#LAY_app_flexible');
  var slide = document.querySelector('.layui-side');
  var body = document.querySelector('.layui-body');
  var footer = document.querySelector('.layui-footer');
  var flag = true;
  flexible.addEventListener('click', function() {
    console.log(flag);
    if (flag) {
      slide.style.width = 0;
      body.style.left = 0;
      footer.style.left = 0;
      icon.className = "layui-icon layui-icon-spread-left";
    } else {
      slide.style.width = '200px';
      body.style.left = '200px';
      footer.style.left = '200px';
      icon.className = "layui-icon layui-icon-shrink-right";
    }
    flag = !flag;
  })
</script>
<style>
  .layui-header .layui-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .layui-side,
  .layui-body,
  .layui-footer {
    transition: all 0.3s;
  }

  .layui-header .layui-logo img {
    width: 70%;
    /* height: 100; */
  }

  .layui-header .layui-icon {
    margin-right: 10px;
    font-size: 16px;

  }

  .layui-header .layui-icon-home {
    font-weight: 700;

  }

  #LAY_app_flexible {
    margin-right: 0;
    transition: all 0.3s;
  }

  .layui-table-view .layui-table {
    width: 100%;
  }
  .layui-card-header a {
    text-align: center;
    padding: 5px;
    padding-left: 0;
  }

  .layui-card-header i {
    color: white;
  }
</style>
<?php include DIR_VIEW . '/common/foot.htm' ?>