<?php include DIR_VIEW . '/common/head.htm' ?>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo"><img src="<?php dd($data['config'][3]['value']) ?> " alt=""></div>
      <!-- 头部区域（可配合layui已有的水平导航） -->

      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="/index.php"><i class="layui-icon layui-icon-home"></i>首页</a></li>
        <li class="layui-nav-item">

          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            <?php dd($data['user']['pen_name']) ?>
          </a>
          <dl class="layui-nav-child">
            <dd><a href="">基本资料</a></dd>
            <dd><a href="">安全设置</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="/admin.php?path=admin&api=logout">退了</a></li>
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="menu">
        <?php foreach ($menus as $key => $menu) : ?>
            <li class="layui-nav-item layui-nav-itemed <?php dd($key == $menu_top ? 'layui-this' : '') ?>">
              <a class="" href="/admin.php?path=admin&cpn=<?php dd($key) ?>">
                <i class="layui-icon layui-icon-<?php echo $menu['icon'] ?>"></i>
                <?php dd($menu['name']) ?>
              </a>
            </li>
          <?php endforeach ?>



        </ul>
      </div>
    </div>

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <?php include_cpn($cpn_view) ?>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      简单CMS 简单就完事了
    </div>
  </div>


</body>
<script>
  //JavaScript代码区域
  layui.use('element', function() {
    var element = layui.element;

    element.on('nav(menu)', function(elem) {
      console.log(elem); //得到当前点击的DOM对象
    });
  });
</script>
<style>
  .layui-layout-admin .layui-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .layui-layout-admin .layui-logo img {
    width: 70%;
    /* height: 100; */
  }

  .layui-icon {
    margin-right: 10px;
    font-size: 16px;

  }

  .layui-icon-home {
    font-weight: 700;

  }
</style>
<?php include DIR_VIEW . '/common/foot.htm' ?>