<?php include DIR_VIEW.'/common/head.htm' ?>
<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="/public/index/css/newey.css?t=1582275986" />
<script type="text/javascript" src="/public/index/js/jqbs.main.js?t=1582270636"></script>
<script type="text/javascript" src="/public/index/js/sp.js?t=1581925302"></script>
<script type="text/javascript">
  var page = "news";
</script>
<style>
  .wz {
    height: 70px;
    border-bottom: 2px solid #04ce9b;
  }

  .wz span {
    background: none;
    color: #04ce9b;
  }

  .wz p {
    color: #04ce9b;
  }
</style>
<body>
<div class="g-nav-full clearfix">
    <div class="g-box-1200 clearfix">
    <ul>
      <li class="syactive"><a href="http://moban.com">首页</a></li>
    <?php foreach ($data['types'] as $key => $value) {?>
      <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=1"><?php echo $value['typename']?></a></li>
    <?php } ?>
        <!-- <li class="syactive"><a href="/index.php?m=home&c=Lists&a=index&tid=1">生活</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=2">饮食</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=3">情感</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=4">教育</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=5">职场</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=6">科技</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=7">汽车</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=8">母婴</a></li>
        <li class=""><a href="/index.php?m=home&c=Lists&a=index&tid=9">美妆</a></li> -->

      </ul>
    </div>
  </div>
  <!--top end-->
  <!-- 当前位置 -->
  <div class="g-box-1200 g-jknav"><b class="f-jkico"></b><strong>当前位置： <a href='/' class='crumb'>首页</a> &gt; <a href='/index.php?m=home&c=Lists&a=index&tid=1'><?php echo $value['typename']?></a></strong></div>
  <div class="g-box-1200 clearfix m-margin15 g-box-bgico">
    <div class="w845 f-fl clearfix htmlcontent">
      <div class="g-infocont g-new-info clearfix">
        <h1><?php echo $data['article']['title']?></h1>
        <div class="u-info"><span>时间：<?php echo $data['time']?></span><span>作者：<?php echo $data['author']?></span></div>
        <div class="m-main">
          <?php echo $data['content']?>
          <!-- <p>到地坛公园看银杏，公园内和公园园外园都能观赏到银杏，可以园内园外一起看看。</p>
          <p>每年地坛公园还有银杏文化节，2019年银杏文化节开始的时间是2019年11月1日~10日。</p>
          <p style="text-align:center;"><br /></p>
          <h3>地坛公园银杏大道怎么走</h3>
          <p>地坛公园的银杏大道位于公园北区，可以从地坛公园北门进入。</p>
          <p>到地坛西门可以坐地铁5号线和平里北街站、125、127路</p>
          <p>地坛公园的古树特别多，大部分古树的树龄已经超过300年。侧柏、国槐、枣树、榆树、银杏等都有。</p>
          <p style="text-align:center;"><br /></p>
          <h3>北京哪里的地方银杏好看</h3>
          <p>中山公园：中山公园的银杏主要集中在水榭景区（进门口的西侧）和社稷坛前。</p>
          <p>地坛公园：地坛公园园内200余株银杏树栽植于上个世纪50年代末，每到深秋，满园金黄。</p>
          <p>天坛公园：天坛公园银杏大道在北门附近，栽有60余棵银杏树，为50年前公园集中栽种。</p>
          <p>日坛公园：从日坛公园的北天门进去，右手边就是一小片银杏林。往里走会经过玉馨园，这里聚集了日坛公园所有珍贵的古树。</p>
          <p>圆明园：在绮春园通往福海方向，有一条很长的银杏大道，与夏日荷花齐名。推荐清晨进入圆明园观看。</p>
          <p>颐和园：颐和园的银杏树在西南角的石舫附近，一共有三棵，两棵大些的靠近水边，稍小的一棵靠近一个院门。</p>
          <p style="text-align:center;"><br /></p> -->
        </div>
        <!-- <div class="m-maintag">标签：
          <a href='/index.php?m=home&c=Tags&a=lists&tagid=1' target='_blank' title='北京'>北京</a> &nbsp;
          <a href='/index.php?m=home&c=Tags&a=lists&tagid=2' target='_blank' title='地坛'>地坛</a> &nbsp;
          <a href='/index.php?m=home&c=Tags&a=lists&tagid=3' target='_blank' title='公园'>公园</a> &nbsp;
          <a href='/index.php?m=home&c=Tags&a=lists&tagid=4' target='_blank' title='银杏'>银杏</a> &nbsp;
        </div> -->

      </div>



       
</body>
<?php include DIR_VIEW. '/common/foot.htm' ?>